/* Estilos padrão */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Poppins;
  }
  
  /* Estilos para o iframe */
  iframe {
    margin: 10vh auto;
    width: 80vw;
    max-width: 600px;
    height: 40vw;
    max-height: 300px;
    border-radius: 10px;
  }
  
  /* Estilos para os campos de entrada */
  input,
  textarea {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: Poppins;
    text-indent: 3px;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: transparent;
    margin-bottom: 2rem;
    transition: background-color 1s;
    width: 100%;
  }
  
  /* Estilos para o botão */
  button {
    width: auto;
    text-decoration: none;
    float: right;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #ff4a57;
    color: #fff;
    font-size: 1.2rem;
    transition: background-color 1s;
  }
  
  /* Estilos para o container do formulário */
  .contato {
    margin-top: 10vh;
    width: 80vw;
    max-width: 600px;
  }
  
  /* Estilos para a mensagem de erro */
  #erro {
    width: 100%;
    margin-top: 1rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(247, 46, 46);
  }
  
  /* Estilos adicionais para campos de entrada quando houver erro */
  .campoErro {
    border: 1px dashed rgb(247, 46, 46);
    background: #393a41;
  }
  
  /* Estilos para o hover */
  ::placeholder {
    color: #CCCCCC;
  }
  
  button:hover {
    background-color: #ffffff;
    color: #ff4a57;
    border: 1px solid #ff4a57;
  }
  
  input:hover,
  textarea:hover {
    background-color: #393a41;
  }
  
  /* Media queries */
  @media (min-width: 768px) {
    .contato {
      margin-top: 5vh;
    }
  }
  