@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
    /* podemos usar o Google Fonts também */
}

body {
    background: #252629;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: #FFFFFF;
}

header {
    background: #000000;
    padding: 5% 0 2% 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    min-height: 30px;
}



.container {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 0; /* para evitar o vazamento quando havia mudança de tamanho da tela */
}


.menu {
    float: right;
    margin-top: 10px;
}

.menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 20px;
    transition: background 1s;
    border-radius: 5px;
}

.menu a:hover, 
.menu a.on {
    background: #ff4a57;
    transition: background 1s;
}

section {
    width: 100%;
    margin: 80px auto 0;
    font: #FFFFFF;
}

aside {
    min-height: 300px;
    display: inline-block;
    vertical-align: top;
}

aside:first-child {
    width: 100%;
    max-width: 600px;
}

aside:last-child {
    width: 100%;
    max-width: 500px;
    margin-left: 0;
}

@media (min-width: 768px) {
    /* 768px de largura ou mais */
    .menu {
        margin-top: 0;
    }
    section {
        margin-top: 120px;
    }
    aside:first-child {
        width: 60%;
        max-width: none;
    }
    aside:last-child {
        width: 40%;
        max-width: none;
        margin-left: 40px;
    }
}

@media (min-width: 992px) {
    /* 992px de largura ou mais */
    .container {
        padding: 0;
    }
}
  